.emerald-scrollbar {
  /* Для Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--color-emerald-600) transparent;
}

/* Для Chrome, Edge и Safari */
.emerald-scrollbar::-webkit-scrollbar {
  width: 5px; /* Очень тонкий и аккуратный */
}

.emerald-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Делаем дорожку прозрачной */
  border-radius: 8px;
}

.emerald-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-emerald-600);
  border-radius: 8px;
}

.emerald-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-emerald-700);
}